@font-face{
    src: url(Fonts/TravelingTypewriter.ttf);
    font-family: typeWriter;
}
button{
    background-color: #FA780D;
    box-shadow: 2px 2px 2px #FF963E, 3px 3px 3px white, 5px 5px 5px #000000;
    border-style: none;
    font-size: 20px;
    font-weight: 900;
    color: #E8E8E8;
    outline: none;
    font-family: typeWriter;
    
}

button:active{
    box-shadow: 2px 2px 2px black;
    transform: translate(3px, 3px);
}

.grid-container > div > button{
    width: 300px;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

button:hover{
    background-color:#FF9843;
}