@font-face{
    src: url(Fonts/TravelingTypewriter.ttf);
    font-family: typeWriter;
}

/*This will give it to all the children of class name .grid-container with the name div.*/
.grid-container > div {
    display: grid;
    grid-template-columns: auto;
    margin: 3px;
    padding: 1em;
    background-color:#404040;
    border-radius: 3px;
}

#newSections{
    background-color:#404040;
}

.grid-container > .header {
    justify-content: center;
    height:300px;
    overflow:hidden;
    display: flex;
    padding: 0px;
    border-radius: 100px;
    
}

.grid-container > .header > img {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
}


.grid-container > div.NavBar{
    display:flex;
    justify-content: space-evenly;  
}


p{
    float:left;
    font-family: typeWriter;
    font-size: 24px;
    color: #A6A5A5;
}



body{
    background-color: #030202;
    padding: 0% 2% 0% 2%;
    margin: 0;, 10em, 1em, 10em;
}


.image{
    float:left;
    margin-right: 1em;
}

.riskImage{
    float:right;
    margin-right: 1em;
    margin-left: 1em;
}

a:any-link{
    color: #A6A5A5;
}
